{% extends "base.html" %}

{% block content %}
  <div class="container-fluid jumbotron">
    <h1 class="text-center">iwho.is</h1>
    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-4"></div>
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-4">
      <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div class="input-group">
          {{ form.query(class="form-control", placeholder=_('Input IP or domain name here.')) }}
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">{{ _('Query') }}</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-4"></div>
  </div>
  {% if result %}
  <div class="container">
    {{ result['res']|safe }}
  </div>
  {% endif %}

  {{super()}}
{% endblock %}
